header{
  background-color: #3385ff;
  padding-left: 20px;
  color: orange;
}

h2{
  background: #ff1a75;
  text-align: center;
  color: purple;
}
 h3{
   background-color: #afdb57;
   text-align: center;
   color: yellow;
 }
 body{
   background-color: grey;
   margin: 0px;
 }

 .info{
   background-color: white;
   border-style: solid;
   border-color: black;
   margin-right: 25%;
   margin-left: 25%;
   align-content: center;
 }

.info img{
  width: 564px;
  padding: 0px 90px;
}
